<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat.css') }}">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class=formError>{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}
        <div class="wrapper">
        
        <!-- <div class="dummy-id">{{id}}</div> -->
        

        <!-- Navigation bar -->
        <div class="header">
            <nav class="custom-navbar sticky">
                <div class="nav-item">
                    <a id="logout-btn" class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a>
                </div>
            </nav>
        </div>
        <!-- Nav bar end -->


        <!-- Main section -->
        <div id="main-section">
            <!-- Room selection -->
            <nav id="sidebar">
                <h4>Rooms</h4>
                {% for room in rooms %}
                    <p id="{{ room|title }}" class="select-room {{room}}-room">{{ room|title }}</p>
                {% endfor %}
                <h4>People</h4>
                {% for person in user_list %}
                    {% if user_list[person] != username %}
                        <p id="{{ user_list[person] }}" class="select-person {{user_list[person]}}">{{ user_list[person] }}</p>
                    {% endif %}
                {% endfor %}
            </nav>
<!-- 
            <!-- Message area -->
            <div id="rightside-panel">
                <!-- Display message -->
                <div id="display-message-section"></div>
                <!-- Text area -->
                <div id="input-area" class="input-group mb-3">
                    <input
                        type="text"
                        id="user-message"
                        class="form-control" 
                        placeholder="Type here..." aria-label="Type a message" aria-describedby="basic-addon2"   
                    />
                    <!-- <button type="button" id="send-message">SEND</button> -->
                    <div class="input-group-append">
                            <button id="send-message" class="btn btn-warning" type="button">SEND <i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
                <!-- <div id="input-area" class="input-group mb-3">
                    <input
                        type="text"
                        id="newroom-name"
                        class="form-control" 
                        placeholder="Type here..." aria-label="Type a message" aria-describedby="basic-addon2"   
                    />
                    <div class="input-group-append">
                        <button id="new-room" class="btn btn-warning" type="button">Create Room <i class="fas fa-paper-plane"></i></button>
                    </div>
                </div> -->
            </div>
        </div>
        </div>
        <span id="get-username">{{ username }}</span>


        <script type="text/javascript">
            const username = `{{username}}`;
        </script>

        
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"
        ></script>

        <!-- Custom SocketIO -->
        
    </body>


    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- jQuery w/ socketIO JS & custom-chat JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script  src="{{ url_for('static', filename='scripts/chat_page.js') }}""></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
</html>
