<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat.css') }}">
    </head>
    <body>
        <div class="wrapper">
        <!-- Navigation bar -->
        <nav></nav>
        <div id="main-section">
            <!-- Room selection -->
            <nav id="sidebar">
                <h4>Rooms</h4>
                {% for room in rooms %}
                <p class="select-room">{{ room|title }}</p>
                {% endfor %}
            </nav>

            <!-- Message area -->
            <div id="rightside-panel">
                <!-- Display message -->
                <div id="display-message-section"></div>
                <!-- Text area -->
                <div id="input-area">
                    <input
                        type="text"
                        id="user-message"
                        placeholder="Type here..."
                        autocomplete="off"
                       
                    />
                    <button type="button" id="send-message">SEND</button>
                </div>
            </div>
        </div>
        </div>
        <script type="text/javascript">
            const username = `{{username}}`;
        </script>

        <!--Custom chat JS -->
        <!-- <script  src="{{ url_for('static', filename='scripts/chat_page.js') }}""></script> -->
        <!-- SocketIO JS  -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"
        ></script>

        <!-- Custom SocketIO -->
        
    </body>

    <!-- jQuery w/ socketIO JS & custom-chat JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script  src="{{ url_for('static', filename='scripts/chat_page.js') }}""></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
</html>
