.wrapper {
    display: flex;
    #show-sidebar-button {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
        color: #335177;
    }
    #main-section {
        overflow: hidden; /* Makee this div contain its floated children */
        width: 100%;
        #sidebar {
            margin-top: 3em;
            float: left; /* Make this div as wide as its contents */
            min-height: 96vh;
            padding-left: 1em;
            padding-top: 3em;
            padding-right: 1em;
            border-right: 0.5px solid #898c91;
            .select-room {
                cursor: pointer;
            }
            .active-room {
                background-color: #ffc107;
            }
            p {
                padding-left: 1em;
                padding-right: 2em;
                &:hover {
                    background-color: #ffc107;
                }
            }
            h4 {
                padding-left: 0.5em;
            }
            .view-sidebar {
                display: none;
            }
        }
        #rightside-panel {
            overflow: hidden;
            #display-message-section {
                margin-top: 6em;
                margin-left: 1em;
                min-height: 82vh;
                max-height: 82vh;
                overflow-y: auto; /*Make  this section scrolable */
            }
            #input-area {
                padding-left: 1em;
                padding-right: 1em;
                bottom: 0;
            }
        }
    }
    .navbar {
        .container-fluid {
        }
    }
    .nav-link {
        &:hover {
            background-color: red !important;
        }
    }
}

.navbar-light .navbar-nav .nav-link {
    &:hover {
        background-color: red !important;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.others-msg {
    margin-right: 7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: grey;
    border-width: 0.5px;
    border-style: solid;
    background-color: #c2dbfb;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.my-msg {
    margin-left: 7em;
    margin-right: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: #206ed2;
    border-width: 1px;
    border-style: solid;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.system-msg {
    margin-right: 7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    color: #656d78;
    font-size: 0.9em;
}

.timestamp {
    color: #656d78;
    font-size: 0.7em;
}

.other-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #206ed2;
}

.my-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #ff6b13;
}

#msg-input {
    border-color: #ffc107;
    border-width: 5px;
}

#get-username {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

input[type="text"]:focus {
    border-color: #ffc107;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #ffc107;
}

@media (max-width: 567px) {
    #sidebar {
        display: none;
        .view-sidebar {
            display: block;
        }
    }

    #sidebar #show-sidebar-button {
        visibility: visible;
        opacity: 1;
    }
}
